body{
  box-sizing: border-box;
}

#characters{
  width: 10%;
  height: 600px;
  float: right;
  display: inline-block;
}

#characters>button{
  width: 100px;
  height: 100px;
  background-color: grey;
  border-radius: 10px;
  border: solid 10px grey;
  padding: 0;
  margin: 5px;
}

#characters>button>img{
  width: 80%;
  height: 80%;
  border-radius: 10px;
  position: relative;
  right: 100px;
  border: solid 1px black;
}

/*#characters>button:hover{
  position: absolute;
  display: none;
}*/

/*#characters>button>img:hover{
  position: relative;
  right: 100px;
}*/

.board{
  width: 700px;
  height: 600px;
  border: 2px solid black;
}
html,body {
  height: 100%;
}

/*column*/
.board>div{
  overflow: hidden;
  float: left;
  display: block;
  width: 14.28%;
  height: 100%;
}

/*cell*/
.board>div>div{
  position: relative;
  border: dotted 1px black;
  width: 98px;
  height: 98px;
  top:-100%;
  text-align: center;
  transition: 1s;
  overflow: hidden;
  border-radius: 50%;
}

/*image*/
.board>div>div>img{
   height: 100%;
   position: relative;
}

