body{
  box-sizing: border-box;
  text-align: center;
  background-color: white
}

@font-face {
  font-family: cartoon;
  src: url('./image/cartoonfont.ttf');
}


.explosion {
  margin:auto;
  /*background-color: black;*/
  width: 1000px;
  height: 150px;
  text-align: center;
  margin: auto;
}

.explosion img{
  height:105%;
  width: 40%;
  margin-left:2%;
  position: relative;

}

#characters{
  width: 10%;
  height: 600px;
  float: right;
  display: inline-block;
}

#characters>button{
  width: 100px;
  height: 100px;
  background-color: grey;
  border-radius: 10px;
  border: solid 10px grey;
  padding: 0;
  margin: 5px;
}

#characters>button>img{
  width: 80%;
  height: 80%;
  border-radius: 10px;
  position: relative;
  border: solid 1px black;
}

/*#characters>button:hover{
  position: absolute;
  display: none;
}*/

/*#characters>button>img:hover{
  position: relative;
  right: 100px;
}*/


.board{
  width: 970px;
  height: 615px;
  border: 2px solid black;
  background-color: rgb(121, 121, 252);
  text-align: center;
  margin-left: 7%;
  margin-top: 5%;
}

.board>div{


}

html,body {
  height: 100%;
}

/*column*/
.board>div{
  overflow: hidden;
  float: left;
  display: block;
  width: 14.05%;
  height: 100%;
  border: solid 1px black;
}

.board .column7 {
  border-right: 2px solid black
}

/*cell*/
.board>div>div{
  position: relative;
  border: dotted 1px black;
  width: 98px;
  height: 98px;
  top:-100%;
  text-align: center;
  transition: 1s;
  overflow: hidden;
  border-radius: 50%;
  margin: auto
}

/*image*/
.board>div>div>img{
   height: 100%;
   position: relative;
}

#message{
  position: absolute;
  width: 100%;
  height: 2000px;
  overflow: hidden;
  z-index: -1;
}

#popup{
  position: relative;
  width: 100%;
  height: 100%;
  right: 100%;
  transition: 5s;
  opacity: 0.4;
  background-color: orange;
  text-align: center;
  font-size: 0.5em;
  padding-top: 40%;
}

